@import 'tailwindcss';

body {
  font-family: 'Inter', sans-serif;
}

/* 闪烁光标样式 */
.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: white;
  animation: blink 0.8s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}